<div id="<%= dom_id employer %>">
  <p>
    <strong>Proper name:</strong>
    <%= employer.proper_name %>
  </p>

  <p>
    <strong>Function:</strong>
    <%= employer.function %>
  </p>

  <p>
    <strong>Effectuation date:</strong>
    <%= employer.effectuation_date %>
  </p>

  <p>
    <strong>Resignation date:</strong>
    <%= employer.resignation_date %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= employer.date %>
  </p>

</div>
